%form.artist-form{'v-on:submit.prevent': 'onSubmit'}
  %md-card
    %md-layout{'md-tag': 'md-card-media-actions'}
      %md-layout{'md-tag': 'md-card-media'}
        %md-image{':md-src': 'artist.image'}
      %md-layout{'md-tag': 'md-card-actions'}
        %md-input-container
          %label Name
          %md-input{'v-model': 'artist.name', 'required': true}
        %md-input-container
          %label Image
          %md-input{'v-model': 'artist.image', 'required': true}
    %md-card-actions
      %md-button{'href': '/artists'} Cancel
      %md-button.md-primary{'type': 'submit'} Save
