.artwork-list {
  padding: 16px;

  .md-layout > .md-layout {
    margin-bottom: 16px;
  }

  .md-card {
    flex: 4;
  }

  .md-card-header {
    a:not(.md-button) {
      &,
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .pages {
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      margin: 0 5px 0 0;
      padding: 5px 10px;
      list-style: none;
      border-radius: 2px;
      background: #ccc;
      display: inline-block;

      &:hover,
      &.active {
        background: #999;
      }
    }
  }
}
