<script lang="coffee">
import Datepicker from 'vuejs-datepicker'

export default {
  name: 'artworkShow'
  components:
    'datepicker': Datepicker

  data: ->
    artists: []
    mediums: []
    mediumQuery: ''
    artwork:
      title: ''
      image: ''
      artist_id: ''
      date: ''
      medium_list: []
      active: false

  computed:
    filteredMediums: () ->
      if @mediumQuery
        query = @mediumQuery.toLowerCase()
        @mediums.filter (medium) -> medium.toLowerCase().includes query
      else
        []

  created: ->
    @$http.get('/api/artists').then (res) -> @artists = res.data
    @$http.get('/api/artworks/mediums').then (res) -> @mediums = res.data

    if this.$route.params.id
      this.$http.get('/api/artworks/' + this.$route.params.id).then (res) ->
        this.artwork = res.data

  methods:
    onMediumsKeyup: (e) ->
      @mediumQuery = e.target.value

    onMediumsChange: (e) ->
      @mediumQuery = ''

    onTypeaheadClick: (e) ->
      @artwork.medium_list.push e.target.innerText
      @mediumQuery = ''

    onSubmit: ->
      config =
        url: '/api/artworks'
        method: 'post'
        body:
          title: @artwork.title
          image: @artwork.image
          artist_id: @artwork.artist_id
          date: @artwork.date
          medium_list: @artwork.medium_list.join()
          active: @artwork.active

      if @$route.params.id
        config.url += '/' + @$route.params.id
        config.method = 'put'

      @$http(config).then (res) -> @$router.push '/artworks'
}
</script>

<template lang="haml" src="./show.haml"></template>
<style lang="scss" src="./show.scss"></style>
