%form.artwork-form{'v-on:submit.prevent': 'onSubmit'}
  %md-card
    %md-layout{'md-tag': 'md-card-media-actions'}
      %md-layout{'md-tag': 'md-card-media'}
        %md-image{':md-src': 'artwork.image'}
      %md-layout{'md-tag': 'md-card-actions'}
        %md-switch.md-primary{'v-model': 'artwork.active', 'id': 'active'} Publish
        %md-input-container
          %label Title
          %md-input{'v-model': 'artwork.title'}
        %md-input-container
          %label Image
          %md-input{'v-model': 'artwork.image'}
        %md-input-container
          %label Artist
          %md-select{'v-model': 'artwork.artist_id'}
            %md-option{'v-for': 'artist in artists', ':key': 'artist.id', ':value': 'artist.id'} {{artist.name}}
        %md-input-container.date
          %datepicker{'v-model': 'artwork.date', 'placeholder': 'Date'}
        .mediums
          %md-chips{'v-model': 'artwork.medium_list', 'md-input-placeholder': 'Mediums', '@keyup.native': 'onMediumsKeyup', '@change': 'onMediumsChange'}
            %template{'scope': 'chip'} {{chip.value}}
          %ul.typeahead{'v-show': 'filteredMediums.length'}
            %li{'v-for': 'medium in filteredMediums', '@click': 'onTypeaheadClick'} {{medium}}
    %md-card-actions
      %md-button{'href': '/artworks'} Cancel
      %md-button.md-primary{'type': 'submit'} Save
