.artwork-form {
  padding: 16px;

  .md-card {
    overflow: visible;
  }

  .md-switch {
    width: 100%;
  }

  .date {
    width: 100%;
    padding: 0;
    min-height: 32px;

    input {
      font-size: 16px;
      color: #000;
      width: 100%;
      height: 32px;
      border-color: #ccc;
      border-width: 0 0 1px;
    }
  }

  .mediums {
    width: 100%;
    position: relative;

    .typeahead {
      width: 100%;
      border: 1px solid #ccc;
      border-top: 0;
      background: #fff;
      left: 0;
      top: 58px;
      position: absolute;
      z-index: 10;

      &,
      li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
      }

      li {
        padding: 5px 9px;

        &:hover {
          background: #ccc;
        }
      }
    }
  }
}
